#OS junk files
[Tt]humbs.db
*.DS_Store

# Build Folders
bin

obj
/build

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.ncrunchproject
*.ncrunchsolution
ipch/
obj/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

# FRONT-END
/src/*.FrontEnd/css
/src/*.FrontEnd/less
/src/*.FrontEnd/images
/src/*.FrontEnd/js
/src/*.FrontEnd/lib
/src/*.FrontEnd/flash
/src/*.FrontEnd/flashplayer

# SITECORE DATA
/src/data/diagnostics/
/src/data/indexes/
/src/data/logs/
/src/data/rfulogs/
/src/data/viewstate/
/src/data/servicelogs/
/src/data/Test/
/src/data/packages/

# SITECORE SITE
/src/*.Site/upload/
/src/*.Site/temp/
/src/*.Site/App_Data/

/src/SAFC.Site/OptaFiles