<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=aqueduct_sitecorellib;password=password;Data Source=aque-db2008r2;Database=aqueduct_sitecorelib_Core" />
  <add name="master" connectionString="user id=aqueduct_sitecorellib;password=password;Data Source=aque-db2008r2;Database=aqueduct_sitecorelib_Master" />
  <add name="web" connectionString="user id=aqueduct_sitecorellib;password=password;Data Source=aque-db2008r2;Database=aqueduct_sitecorelib_Web" />
</connectionStrings>