<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="core" connectionString="user id=safc;password=password;Data Source=aque-db2008r2;Database=Demo_Core" />
	<add name="master" connectionString="user id=safc;password=password;Data Source=aque-db2008r2;Database=Demo_Master" />
	<add name="web" connectionString="user id=safc;password=password;Data Source=aque-db2008r2;Database=Demo_Web" />
</connectionStrings>